body {
  margin: 0;
  padding: 0;
}

.nav-link {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 18px;
  transition: color 0.3s ease;
}

/* Hover */
.nav-link:hover {
  color: #FFBB00;
}

.hero {
  width: 100%;
  min-height: 90vh;
  background: url("../assets/patas.png"); /* coloque seu fundo de patinhas */
  background-size: contain;
  background-repeat: repeat;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 80px;
}

.hero-text {
  max-width: 550px;
}

.hero-text h1 {
  font-family: "Flamenco", sans-serif;
  font-size: 48px;
  color: #261B1B;
  margin: 0;
}

.hero-text p {
  margin-top: 12px;
  font-family: "Flamenco", sans-serif;
  font-size: 22px;
  color: #261B1B;
}

.hero-btn {
  display: inline-block;
  margin-top: 30px;
  background-color: #FFBB00;
  padding: 14px 26px;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: #261B1B;
  text-decoration: none;
  transition: 0.3s;
}

.hero-btn:hover {
  background-color: #e0a700;
}

.hero-img img {
  width: 380px;
  height: auto;
}

/* ======== SEÇÃO SOBRE ======== */
.sobre-section {
  background-color: #261b1b;
  color: #ffffff;
  padding: 70px 10%;
  font-family: 'Flamenco', cursive;
  position: relative;
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
}

.sobre-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 100px;
  flex-wrap: wrap;
  flex-direction: row-reverse; /* <-- adicione esta linha */
}


.sobre-texto {
  flex: 1;
  z-index: 2;
}

.sobre-texto h2 {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 36px;
  margin-bottom: 20px;
  color: #ffbb00;
}

.sobre-texto p {
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.sobre-imagem {
  flex: 1;
  text-align: right;
  position: relative;
  z-index: 2;
}

.sobre-imagem img {
  width: 400px;
  border-radius: 40px;
  position: relative;
  z-index: 3;
}

.pata-bg {
  position: absolute;
  top: 0px;
  left: 350px;
  width: 700px;
  opacity: 0.1;
  z-index: 0;
}

.sobre-footer {
  text-align: center;
  margin-top: 60px;
  font-size: 22px;
  color: #ffffff;
}
